@media all and (min-width:769px){
    #side {
        background-color: rgba(255, 255, 255, 0) !important;
        width : 0 !important;
    }
}
@media all and (max-width:768px){
    #graphs {
        margin-left: 0 !important;
    }
}
